spring:
  datasource:
    url: jdbc:postgresql://192.168.56.101:5432/naasdb
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true